.non-veg-button {
    background: url("../images/non-veg-button-img.png");
}
.veg-button {
    background: url("../images/veg-button-img.png");
}
.breakfast-button {
    background: url("../images/breakfast-button-img.png");
}
.lunch-button {
    background: url("../images/lunch-button-img.png");
}
.snacks-button {
    background: url("../images/snacks-button-img.png");
}
.dinner-button {
    background: url("../images/dinner-button-img.png");
}
.freq-skip {
    background: url("../images/freq-skip.png");
}
.freq-skip-no {
    background: url("../images/freq-skip-no.png");
}
.sunday {
    background: url("../images/sunday.png");
}
.monday {
    background: url("../images/monday.png");
}
.tuesday {
    background: url("../images/tuesday.png");
}
.wednesday {
    background: url("../images/wednesday.png");
}
.thursday {
    background: url("../images/thursday.png");
}
.friday {
    background: url("../images/friday.png");
}
.saturday {
    background: url("../images/saturday.png");
}
.northindian {
    background: url("../images/northindian.png");
}
.southindian {
    background: url("../images/southindian.png");
}
.bengali {
    background: url("../images/bengali.png");
}
.jain {
    background: url("../images/jain.png");
}
.chinese {
    background: url("../images/chinese.png");
}
.healthy {
    background: url("../images/healthy.png");
}
.keto {
    background: url("../images/keto.png");
}
.marathi {
    background: url("../images/marathi.png");
}
.malayali {
    background: url("../images/malayali.png");
}
.andhra {
    background: url("../images/andhra.png");
}
.nutritionist {
    background: url("../images/nutritionist.png");
}
.odia {
    background: url("../images/odia.png");
}
.rajasthani {
    background: url("../images/rajasthani.png");
}
.gujarati {
    background: url("../images/gujarati.png");
}
.tamil {
    background: url("../images/tamil.png");
}
.mini {
    background: url("../images/mini.png");
}
.standard {
    background: url("../images/standard.png");
}
.extra {
    background: url("../images/extra.png");
}
.food-delivery {
    background-color: #24b3f1;
}
.protein-pref {
    background-color: #ffe715;
}
.portion-size {
    background-color: #fdb853;
}
.ror-mains {
    background-color: #d23e5f;
    display: block !important;
}
.veg-days {
    background-color: #acd56d;
}
.cuisine-pref {
    background-color: #8849ba;
}
.ror-mains .roti-img {
    position: absolute;
    top: 5x;
    right: 8px;
}
.ror-mains .rice-img {
    position: absolute;
    top: 35px;
    left: 16px;
}
.change-preferences .action a,
.change-preferences .meal-options .option .meal-sub-wrap a {
    background: url("../images/edit-icon.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 20px;
}

.breakfast-tile {
    background-color: #24b3f1;
}
.dinner-tile {
    background-color: #d23e5f;
}
.snacks-tile {
    background-color: #ff9c72;
}
.lunch-tile {
    background-color: #fdb853;
}
.subscription-cont-par,
.auth-container {
    background-image: url("../images/bg-gs-1.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
}
.google-sign-up button {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fb-sign-up button {
    background-color: #3b579d;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #fff;
}
.phone-sign-up button {
    background-color: #fdb853;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.register-container {
    background-image: url("../images/bg-gs-1.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: auto;
}
.get-started-body {
    background-image: url("../images/bg-gs-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.get-started-steps-body,
.order-summary-body,
.food-summary-body,
.payment-body,
.subscription-body {
    background-image: url("../images/bg-gs-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
