.small-button-transparent {
    background: transparent;
    color: #0f2340;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    border-radius: 9px;
    padding: 6px 17px;
}
.small-button {
    width: auto;
    padding: 10px 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 91%;
    text-align: center;
    letter-spacing: -0.576517px;
    color: #ffffff;
    background: #3c8dbc linear-gradient(90deg, #4285f4 0%, #2098f6 93.32%);
    box-shadow: 0px 5px 5px rgba(28, 87, 174, 0.43);
    border-radius: 5px;
    border: none !important;
    margin-bottom: 20px;
}

.clr {
    clear: both;
}
button {
    outline: 0;
}
a {
    text-decoration: none !important;
}
*:focus {
    outline: 0 !important;
}
button.med-button {
    width: 308.2px;
    height: 48.86px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 91%;
    text-align: center;
    letter-spacing: -0.576517px;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(90deg, #1e8ff7 0%, #24b3f1 93.32%);
    box-shadow: 0px 15px 25px rgba(28, 87, 174, 0.33);
    border-radius: 5px;
    border: none !important;
    margin-bottom: 20px;
}
.action p {
    font-style: italic;
}
.desktop-only {
    display: block;
}
@media only screen and (max-width: 600px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
}
.f-l {
    float: left;
}
.clr {
    clear: both;
}
.active {
    display: block !important;
}
.hor-line {
    border-top: 1px solid #c4c4c4;
    width: 80%;
    margin: 10% auto 3%;
}
.input-hundred-percent {
    width: 100%;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 12px 25px;
}
.input-single-length {
    width: 50px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 10px;
}
