.hospital-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.hospital-home-wrap {
    padding-left: 20%;
    padding-bottom: 100px;
}
.hospital-home-container .content-wrap {
    color: #fff;
    font-size: 24px;
    padding-left: 3%;
    margin-bottom: 40px;
}
.content-wrap p {
    font-size: 24px;
    margin-bottom: 5px;
}
.search-wrap .search-input {
    background: #ffffff;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    padding: 12px 25px;
    width: 95%;
    border: none;
}
.search-wrap,
.search-bar {
    padding: 0;
}
.search-wrap {
    position: relative;
}
.search-action .search-button {
    padding: 13px 28px;
    font-size: 18px;
}
.hosp-sugg-wrap {
    position: absolute;
    background: #fff;
    width: 63.3%;
    padding: 0;
    top: 49px;
    height: 200px;
    overflow: auto;
}
.hosp-sugg-wrap .sugg {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.hosp-sugg-wrap::-webkit-scrollbar {
    width: 10px;
}

.hosp-sugg-wrap::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.hosp-sugg-wrap::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
}
/* delivery page */

section .del-to {
    background-color: #dcfffd;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position-x: 7%;
    background-position-y: 5px;
}
.cart.delivery .delivery-container {
    background: linear-gradient(
        180deg,
        rgba(13, 170, 10, 0.24) 0%,
        rgba(33, 189, 210, 0.36) 100%
    );
    padding: 60px;
}
.cart.delivery .delivery-wrapper {
    background: #fff;
    border-radius: 10px;
}
.cart.delivery .delivery-wrapper .head h3 {
    color: #ea9342;
}
.cart.delivery .delivery-wrapper .head {
    margin-bottom: 30px;
}
.cart.delivery .delivery-wrapper .input-con {
    width: 50%;
    margin: 0 auto;
}
.cart.delivery .delivery-wrapper .input-con p {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}
.cart.delivery .delivery-wrapper input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.cart .cart-wrapper {
    padding: 30px;
}
.cart.delivery .delivery-wrapper .main-action {
    margin-top: 40px;
}
.total-wrap.cart h4 {
    font-size: 20px;
}
.cart .ordered-item {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    margin-top: 10px;
    padding-top: 20px;
    position: relative;
}
.cart .ordered-item .item-wrapper img {
    width: 150px;
    height: 130px;
}
.cart .ordered-item .item-wrapper {
    background-color: #c8d80e;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart .ordered-item .item-detail-wrap p {
    margin-bottom: 5px;
}
.cart .ordered-item .item-detail-wrap .arriving-info p {
    font-weight: normal;
}
.cart .ordered-item .item-detail-wrap .del-time {
    color: #666;
    padding-left: 30px;
    background-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-position-y: 7px;
}
.cart .ordered-item .item-action-wrap {
    text-align: right;
}
.item-action-wrap .del-icon a {
    text-decoration: none !important;
    color: #666 !important;
    display: block;
}
.cart .ordered-item .item-action-wrap .clasfi {
    position: absolute;
    right: 15px;
    top: 110px;
}

/* delivery page ends here */
